.header-section{
    display: flex;
    margin: auto;
    background-color: aqua;
}
.header-logo{
    width: 529px;
	height: 728px;
	object-fit: cover;
	position: absolute;
	left: 835px;
	top: 216px;
    background-color: red;
}
